.CircularProgressbar-path {
  transform: rotate(0.625turn);
  transform-origin: center center;
  stroke-dasharray: 289.027px, 289.027px;
  stroke-linecap: round;
  -webkit-transition: stroke-dashoffset 0.5s ease 0s;
  transition: stroke-dashoffset 0.5s ease 0s;
  position: relative;
}

.CircularProgressbar-trail {
  transform: rotate(0.625turn);
  transform-origin: center center;
  stroke-dasharray: 289.027px, 289.027px;
  stroke-dashoffset: 72.2566px;
  stroke: #d6d6d6;
  stroke-linecap: round;
}

#circle{
  transform: rotate(10, 60, 60);
}
