<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1,shrink-to-fit=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="Ecossistema de soluções para as lojas de todo o mercado brasileiro. Fornecendo informações para a tomada de decisões mais assertivas e lucrativas." />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#fc324d" />
        <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml" />
        <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-310x310.png" />
        <link rel="manifest" href="/assets/img/favicons/manifest.json" />
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon-180x180.png" />
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/favicons/apple-touch-icon-57x57-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/img/favicons/apple-touch-icon-60x60-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicons/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/favicons/apple-touch-icon-76x76-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicons/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicons/apple-touch-icon-120x120-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicons/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicons/apple-touch-icon-152x152-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/img/favicons/apple-touch-icon-180x180-precomposed.png" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/android-chrome-16x16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/android-chrome-32x32.png" />
        <link rel="icon" type="image/png" sizes="36x36" href="/assets/img/favicons/android-chrome-36x36.png" />
        <link rel="icon" type="image/png" sizes="48x48" href="/assets/img/favicons/android-chrome-48x48.png" />
        <link rel="icon" type="image/png" sizes="72x72" href="/assets/img/favicons/android-chrome-72x72.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/android-chrome-96x96.png" />
        <link rel="icon" type="image/png" sizes="144x144" href="/assets/img/favicons/android-chrome-144x144.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-chrome-192x192.png" />
        <link rel="icon" type="image/png" sizes="256x256" href="/assets/img/favicons/android-chrome-256x256.png" />
        <link rel="icon" type="image/png" sizes="384x384" href="/assets/img/favicons/android-chrome-384x384.png" />
        <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicons/android-chrome-512x512.png" />
        <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#fc324d" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet" />
        <title data-react-helmet="true"></title>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.urls.UrlCockpit[htmlWebpackPlugin.options.environment] %>/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
        <%= htmlWebpackPlugin.options.scripts.apm %>
        <%= htmlWebpackPlugin.options.scripts.gtm %>
        <style>
            .loading-page{
                display: flex;
                height: 100vh;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            .loading-page img{
                display: block;
                width: 256px;
                height: auto;
                margin-bottom: 16px;
            }
            .loading-page div{
                font-size: 3.2rem;
                font-weight: 500;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
        <script>
            document.getElementById('root').innerHTML = '<div class="loading-page"><img src="/assets/img/brands/webmotors-2-icon.svg" alt="" /><div>Carregando</div></div>';
        </script>
        <script>
            if ('serviceWorker' in navigator) navigator.serviceWorker.register('/sw.js').catch(function (err) { console.error('error registering sw', err) });
            window.objDataLayer = {};
        </script>
        <%= htmlWebpackPlugin.options.scripts.launch %>
    </body>

</html>