div[data-testid=lane] {
	// background: #f3f5fb;
	background: red;
	flex: 1;
	display: block;
	padding: 0;
	margin: 0;

	div {
		display: block;
		width: 100%;
	}
}

.board {
	margin: 0 -15px;
	div:first-child  {
		display: block;
		div:first-child  {
			display: flex;
			flex: 1;
			margin: 0;
		}
	}
}

// div[data-testid=card] {
// 	display: block;
// 	flex: 1;
// }
